/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('img/run.jpg');
    background-size: cover;
    background-position: center;
    color: #070707; /* Changing text color for better visibility */
}

.container {
    max-width: 1200px; /* Limiting content width */
    margin: 0 auto; /* Centering the content horizontally */
    padding: 20px;
}

nav {
    background-color: rgba(0, 0, 0, 0.5); /* Adding opacity to the navigation bar */
    color: #fff;
    padding: 10px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    background-color: rgba(255, 255, 255, 0.1);
    padding: 5px 10px;
    border-radius: 5px;
}

header {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    text-align: center;
}

header h1 {
    margin: 0;
}

main {
    padding: 20px;
}

footer {
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    padding: 20px;
    text-align: center;
}

footer ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

footer ul li {
    display: inline;
    margin-right: 10px;
}

footer ul li a {
    color: #fff;
    text-decoration: none;
    background-color: rgba(255, 255, 255, 0.1);
    padding: 5px 10px;
    border-radius: 5px;
}

.workout-card {
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 20px;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.8)
}

.workout-card img {
    max-width: 100%;
}

.testimonials {
    text-align: center;
    margin-bottom: 40px;
}

.testimonial {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    background-color: rgba(241, 237, 237, 0.8);
    margin-bottom: 20px;
}

.events {
    text-align: center;
}

.event {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    margin-bottom: 20px;
}



